@model WebAppProject.ViewModels.StorageViewModel




<p>@Model.StringStorage</p>


<form asp-controller="Storage" asp-action="AddTextSession" method="post">
    Name <br /> <input asp-for="StringStorage" /><br />
    <button type="submit">Add text</button>
</form>


